## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ribeira Grande,PT,38.5167,-28.7000,56.75,67,31,37.13,scattered clouds
1,1,Hobart,AU,-42.8794,147.3294,61.27,88,75,3.44,broken clouds
2,2,Utena,LT,55.5000,25.6000,33.71,79,5,7.65,clear sky
3,3,Arraial Do Cabo,BR,-22.9661,-42.0278,76.86,94,0,9.22,clear sky
4,4,Sitka,US,57.0531,-135.3300,42.69,65,40,8.05,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Arraial Do Cabo,BR,-22.9661,-42.0278,76.86,94,0,9.22,clear sky
5,5,Makakilo City,US,21.3469,-158.0858,80.92,55,100,17.27,overcast clouds
6,6,Ovalle,CL,-30.5983,-71.2003,75.79,37,0,6.51,clear sky
9,9,Mogadishu,SO,2.0371,45.3438,81.43,75,72,14.45,broken clouds
10,10,Rikitea,PF,-23.1203,-134.9692,79.30,72,12,18.07,few clouds
11,11,Elk City,US,35.4120,-99.4043,89.82,5,0,31.07,clear sky
13,13,Buala,SB,-8.1450,159.5921,81.52,75,87,3.80,overcast clouds
15,15,Bathsheba,BB,13.2167,-59.5167,81.21,69,75,18.41,broken clouds
17,17,Samarai,PG,-10.6167,150.6667,82.96,79,18,18.90,few clouds
24,24,Male,MV,4.1748,73.5089,83.73,73,100,12.44,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                232
City                   232
Country                232
Lat                    232
Lng                    232
Max Temp               232
Humidity               232
Cloudiness             232
Wind Speed             232
Current Description    232
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Arraial Do Cabo,BR,-22.9661,-42.0278,76.86,94,0,9.22,clear sky
5,5,Makakilo City,US,21.3469,-158.0858,80.92,55,100,17.27,overcast clouds
6,6,Ovalle,CL,-30.5983,-71.2003,75.79,37,0,6.51,clear sky
9,9,Mogadishu,SO,2.0371,45.3438,81.43,75,72,14.45,broken clouds
10,10,Rikitea,PF,-23.1203,-134.9692,79.30,72,12,18.07,few clouds
11,11,Elk City,US,35.4120,-99.4043,89.82,5,0,31.07,clear sky
13,13,Buala,SB,-8.1450,159.5921,81.52,75,87,3.80,overcast clouds
15,15,Bathsheba,BB,13.2167,-59.5167,81.21,69,75,18.41,broken clouds
17,17,Samarai,PG,-10.6167,150.6667,82.96,79,18,18.90,few clouds
24,24,Male,MV,4.1748,73.5089,83.73,73,100,12.44,overcast clouds

In [7]:
clean_df.count()

City_ID                232
City                   232
Country                232
Lat                    232
Lng                    232
Max Temp               232
Humidity               232
Cloudiness             232
Wind Speed             232
Current Description    232
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Arraial Do Cabo,BR,76.86,clear sky,-22.9661,-42.0278,
5,Makakilo City,US,80.92,overcast clouds,21.3469,-158.0858,
6,Ovalle,CL,75.79,clear sky,-30.5983,-71.2003,
9,Mogadishu,SO,81.43,broken clouds,2.0371,45.3438,
10,Rikitea,PF,79.30,few clouds,-23.1203,-134.9692,
11,Elk City,US,89.82,clear sky,35.4120,-99.4043,
13,Buala,SB,81.52,overcast clouds,-8.1450,159.5921,
15,Bathsheba,BB,81.21,broken clouds,13.2167,-59.5167,
17,Samarai,PG,82.96,few clouds,-10.6167,150.6667,
24,Male,MV,83.73,overcast clouds,4.1748,73.5089,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Arraial Do Cabo,BR,76.86,clear sky,-22.9661,-42.0278,Pousada Porto Praia
5,Makakilo City,US,80.92,overcast clouds,21.3469,-158.0858,Marriott's Ko Olina Beach Club
6,Ovalle,CL,75.79,clear sky,-30.5983,-71.2003,Hotel Altos de Tuqui
9,Mogadishu,SO,81.43,broken clouds,2.0371,45.3438,Hotel Juba
10,Rikitea,PF,79.30,few clouds,-23.1203,-134.9692,People ThankYou

In [15]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"]!= '']
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Arraial Do Cabo,BR,76.86,clear sky,-22.9661,-42.0278,Pousada Porto Praia
5,Makakilo City,US,80.92,overcast clouds,21.3469,-158.0858,Marriott's Ko Olina Beach Club
6,Ovalle,CL,75.79,clear sky,-30.5983,-71.2003,Hotel Altos de Tuqui
9,Mogadishu,SO,81.43,broken clouds,2.0371,45.3438,Hotel Juba
10,Rikitea,PF,79.30,few clouds,-23.1203,-134.9692,People ThankYou
11,Elk City,US,89.82,clear sky,35.4120,-99.4043,Hampton Inn & Suites Elk City
13,Buala,SB,81.52,overcast clouds,-8.1450,159.5921,Maringe Lagoon Lodge
15,Bathsheba,BB,81.21,broken clouds,13.2167,-59.5167,Atlantis Hotel
17,Samarai,PG,82.96,few clouds,-10.6167,150.6667,Nuli Sapi
24,Male,MV,83.73,overcast clouds,4.1748,73.5089,Hotel Octave Maldives

In [16]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))